<div class="row">
  <div class="{{if selectedFile 'col-md-6' 'col-md-12'}}">
    <div class="scrolling-list">
      <div class="list-heading">
        <h4>
          <span class="label label-success">{{numberOfFiles}}</span> Files
          <small class="text-muted"><i class="fa fa-info-circle"></i> Click a file name for more information</small>
        </h4>
        <div class="list-controls">
          <a href="#" {{action "toggleProperty" "sortAscending"}}>Time Created ( {{#if sortAscending}}Newest{{else}}Oldest{{/if}} <i class="fa {{if sortAscending 'fa-caret-down' 'fa-caret-up'}}"></i> )</a>
        </div>
      </div>
      <div class="list-container">
        <ul class="list-group">
          {{#each sortedFiles as |file|}}
            {{lists/file-item file=file selectFile=(action "selectFile")}}
          {{else}}
            <h4>No Files</h4>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="{{if selectedFile 'col-md-6' 'hidden'}}">
    {{#if selectedFile}}
      <h3>
        {{~#if selectedFile.name}}
          {{selectedFile.name}}
        {{else}}
          Unnamed File
        {{~/if}}.{{selectedFile.extension}}

        <a href="{{selectedFile.link}}" target="_blank"><i class="fa fa-fw fa-external-link"></i></a>

        <a href="#" class="pull-right" {{action "deselectFile"}}><i class="fa fa-fw fa-times"></i></a>

        <br />
        <small>
          {{#each selectedFile.labels as |label|}}
            <span class="label label-default">{{title-case label}}</span>
          {{/each}}
        </small>
      </h3>
      <hr />

      <div class="row">
        <div class="col-md-6">
          <ul class="resource-info-list">
            <li><h4>Extension</h4>{{selectedFile.extension}}</li>
            <li><h4>Creator</h4>{{#if selectedFile.creator}}{{selectedFile.creator}}{{else}}Unknown{{/if}}</li>
            <li><h4>Created</h4>{{time-ago selectedFile.time_stamp}} on {{format-moment selectedFile.time_stamp}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            {{#each model.notes as |note|}}
              {{lists/file-note-item note=note}}
            {{else}}
              <div class="alert alert-info alert-dismissible alert-pad" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <i class="fa fa-fw fa-info-circle"></i> No Notes Found.
              </div>
            {{/each}}
            <button class="btn btn-success btn-block" {{action "newNote"}}><i class="fa fa-fw fa-plus"></i> New Note</button>
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
</div>
