<li class="{{if onFirstPage 'disabled'}}">
  {{#if onFirstPage}}
    <span><i class="fa fa-angle-double-left"></i></span>
  {{else}}
    <a href="#" {{action "decrementPage" 20}}>
      <i class="fa fa-angle-double-left"></i>
    </a>
  {{/if}}
</li>
<li class="{{if onFirstPage 'disabled'}}">
  {{#if onFirstPage}}
    <span><i class="fa fa-angle-left"></i></span>
  {{else}}
    <a href="#" {{action "decrementPage"}}>
      <i class="fa fa-angle-left"></i>
    </a>
  {{/if}}
</li>

{{#each page in renderList}}
  <li class="{{if page.active 'active'}}"><a href="#" {{action "setPage" page.n}}>{{page.n}}</a></li>
{{/each}}

<li class="{{if onLastPage 'disabled'}}">
  {{#if onLastPage}}
    <span><i class="fa fa-angle-right"></i></span>
  {{else}}
    <a href="#" {{action "incrementPage"}}>
      <i class="fa fa-angle-right"></i>
    </a>
  {{/if}}
</li>
<li class="{{if onLastPage 'disabled'}}">
  {{#if onLastPage}}
    <span><i class="fa fa-angle-double-right"></i></span>
  {{else}}
    <a href="#" {{action "incrementPage" 20}}>
      <i class="fa fa-angle-double-right"></i>
    </a>
  {{/if}}
</li>
