<div class="row popout-panel">
  <div class="col-md-8">
    <hgroup>
      {{view "letter-resource-image" class="with-hgroup" width="80px" height="65px" text=letterImageText r=letterImageColor.r g=letterImageColor.g b=letterImageColor.b}}
      <h2>
        {{content.fullName}}
      </h2>

      <h4 class="text-muted">
        {{content.relationship}} of {{#link-to 'employee' content.employee.id}}{{content.employee.fullName}}{{/link-to}}
      </h4>

    <div>
      {{#with content}}
        <ul class="text-muted resource-info-list resource-quick-info">
          <li><strong>Record ID (new):</strong> {{id}}</li>
          <li><strong>Legacy ID:</strong> {{legacyId}}</li>
          <li><strong>Creation Date:</strong> {{format-moment time_stamp}} <i>({{time-ago time_stamp}})</i></li>
        </ul>
      {{/with}}
    </div>

    </hgroup>
  </div>
  <div class="col-md-4 resource-controls">
    <button class="btn btn-success">
      <i class="fa fa-fw fa-pencil"></i>
    </button>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-gear"></i> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="#">Delete</a></li>
        <li><a href="#">Some other action</a></li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
