<div class="row row-draw-sep resource-section">
  <div class="col-md-4 draw-sep">

    <ul class="resource-info-list">
      <li>
        <h4>Date of Birth</h4>
        {{format-moment content.dateOfBirth}}
      </li>
      <li>
        <h4>Marital Status</h4>
        {{title-case content.maritalStatus}}
      </li>
      <li>
        <h4>Social Security #</h4>
        {{#if decryptedSSN}}
          {{formattedSSN}}&nbsp;<a href="#" title="Lock SSN" {{action "encryptSSN"}}><i class="fa fa-lock"></i></a>
        {{else}}
          {{shorten-text content.ssn 20}}&nbsp;<a href="#" title="Unlock SSN" {{action "decryptSSN"}}><i class="fa fa-unlock"></i></a>
        {{/if}}
        {{#if decryptingSSN}}
          <i class="fa fa-spin fa-spinner"></i>
        {{/if}}
      </li>
    </ul>

    <p class="text-center">
      <a href="#" {{action "toggleProperty" "showingSystemInformation"}}>
        {{#if showingRecordInformation}}Hide{{else}}Show{{/if}} system information <i {{bind-attr class=":fa showingSystemInformation:fa-caret-up:fa-caret-down"}}></i>
      </a>
    </p>

    <div {{bind-attr class=":hide-slide showingSystemInformation:show"}}>
      <ul class="resource-info-list resource-system-info">
        <li><strong>Time Stamp:</strong> {{format-moment content.time_stamp "YYYY/MM/DD HH:mm:ss:SS"}}</li>
        <li><strong>Database ID:</strong> {{content.id}}</li>
      </ul>
    </div>

  </div>
  <div class="col-md-8 draw-sep">
    <ul class="nav nav-tabs" role="tablist">
      {{#each tab in tabs}}
        <li {{bind-attr class="tab.active:active"}}>
          <a href="#" {{action "showTab" tab.order}}>{{{tab.name}}}</a>
        </li>
      {{/each}}
    </ul>
    <div class="tab-content limited-pane">
      {{#each tab in tabs}}
        {{#if tab.active}}
          {{partial tab.partial}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<hr/>

<div class="resource-section">
  {{render "file-handler" content.files}}
</div>

<hr />

<div class="resource-section">
  <h2 class="text-center">History Event Timeline</h2>
  {{#if loadedHistoryEvents}}
    {{render "history-timeline" content.historyEvents}}
  {{else}}
    <h4 class="text-center text-warning">One moment while we load the events <i class="fa fa-spin fa-spinner fa-fw"></i></h4>
  {{/if}}
</div>
