<div class="row row-draw-sep resource-section">
  <div class="col-md-5 draw-sep">
    <ul class="nav nav-tabs" role="tablist">
      {{#each infoTabs as |tab|}}
        <li class="{{if tab.active 'active'}}">
          <a href="#" {{action "showInfoTab" tab.order}}>{{{tab.name}}}</a>
        </li>
      {{/each}}
    </ul>
    <div class="tab-content limited-pane">
      {{#each infoTabs as |tab|}}
        {{#if tab.active}}
          {{partial tab.partial}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-7 draw-sep">
    <ul class="nav nav-tabs" role="tablist">
      {{#each tabs as |tab|}}
        <li class="{{if tab.active 'active'}}">
          <a href="#" {{action "showTab" tab.order}}>{{{tab.name}}}</a>
        </li>
      {{/each}}
    </ul>
    <div class="tab-content limited-pane">
      {{#each tabs as |tab|}}
        {{#if tab.active}}
          {{partial tab.partial}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<hr/>

<div class="resource-section">
  {{file-handler files=model.files}}
</div>

<hr />

<div class="resource-section">
  <h2 class="text-center">
    History Event Timeline<br />
    <small class="text-xs">
      <a href="#" {{action "toggleProperty" "showVisualization"}}>
        {{#if showVisualization}}
          Hide Visualization<i class="fa fa-fw fa-angle-up"></i>
        {{else}}
          Show Visualization<i class="fa fa-fw fa-angle-down"></i>
        {{/if}}
      </a>
    </small>
  </h2>
  {{#if loadedHistoryEvents}}
    {{#if showVisualization}}
      {{chart-history-events-pulse historyEvents=model.historyEvents height='200'}}
    {{/if}}
    {{history-timeline events=model.historyEvents}}
  {{else}}
    <h4 class="text-center text-warning">One moment while we load the events <i class="fa fa-spin fa-spinner fa-fw"></i></h4>
  {{/if}}
</div>
