<div class="row">
  <div class="col-md-12">
    <h2>
      <a href="#" {{action "toggleProperty" "showRates"}}>
        Rates <i class="fa fa-angle-{{if showRates 'up' 'down'}}"></i>
      </a>
    </h2>
    <div class="hide-slide {{if showRates 'show'}}">
      <div class="row">
        <div class="col-md-7">
          {{#if ratesDataset}}
            {{general-chart dataset=ratesDataset chartOptions=ratesChart.chartOptions dataOptions=ratesChart.dataOptions height='250'}}
          {{/if}}
        </div>
        <div class="col-md-5 text-center">
          {{#link-to 'medical-rates' (query-params plan=content.id)}}
            Show rates for this plan <span class="label label-success">{{rateCounts.assigned}}</span>
          {{/link-to}}
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>
      <a href="#" {{action "toggleProperty" "showParticipation"}}>
        Participation <i class="fa fa-angle-{{if showParticipation 'up' 'down'}}"></i>
      </a>
    </h2>
    <div class="hide-slide {{if showParticipation 'show'}}">
      <div class="row">
        <div class="col-md-7">
          {{#if participationDataset}}
            {{general-chart dataset=participationDataset chartOptions=participationChart.chartOptions dataOptions=participationChart.dataOptions height='350'}}
          {{else}}
            <h1 class="text-center"><i class="fa fa-spin fa-spinner"></i></h1>
          {{/if}}
        </div>
        <div class="col-md-5">
          {{#if participationPieDataset}}
            {{general-chart dataset=participationPieDataset chartOptions=participationPieChart.chartOptions dataOptions=participationPieChart.dataOptions height='350'}}
          {{else}}
            <h1 class="text-center"><i class="fa fa-spin fa-spinner"></i></h1>
          {{/if}}
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
