<div class="row">
  <div class="col-md-{{if hasSelectedMetric '3' '12'}}">
    <ul class="nav nav-pills nav-stacked">
      {{#each metric in metricTypes}}
        <li role="presentation" class="{{if metric.active 'active'}}">
          <a href="#" {{action "showMetric" metric.name}}>{{metric.name}}</a>
        </li>
      {{else}}
        No Metrics Available...
      {{/each}}
    </ul>
  </div>
  <div class="{{if hasSelectedMetric 'col-md-9' 'hidden'}}">
    {{#if showingEmployeesOverTime}}
      <div class="chart-group">
        {{chart-overall-employees height=400}}
      </div>
    {{/if}}

    {{#if showingCompaniesOverTime}}
      <div class="chart-group">
        {{chart-overall-companies height=400}}
      </div>
    {{/if}}
  </div>
</div>
