<hgroup class="history-event-group-head">
  <h3 class="text-center">
    {{format-moment date "MM/DD/YYYY"}}<br />
    <small><i>{{count-array events}} events</i> created {{time-ago date}}</small>
  </h3>
</hgroup>

<ul class="list-group history-event-item-list">
  {{#each event in events itemController="history-event"}}
    <li class="list-group-item history-event-item">
      <a href="#" class="history-event-link" title="Click to load details" {{action "selectEvent" event}}>
        {{event.description}}
      </a>
      <span class="text-muted pull-right">
        {{event.user}}
      </span>
    </li>
  {{/each}}
</ul>
<hr />
