<div class="row">
{{log content}}
  <div class="col-md-6">
    <h3>About</h3>
    <ul class="no-list-style">
      <li><i class="fa fa-fw fa-{{if content.super 'check' 'times'}}"></i> Super user</li>
      <li><i class="fa fa-fw fa-{{if content.receiveEmails 'check' 'times'}}"></i> Receive Emails</li>
      <li><i class="fa fa-fw fa-{{if content.apiAccess 'check' 'times'}}"></i> Direct API Access</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Permissions</h3>
    <ul class="no-list-style">
      {{#each permissionsDisplay as |permission|}}
        <li>
          Can
          {{#each permission.types as |type|}}
            <span class="label label-default">{{type}}</span>
          {{/each}}
          {{permission.name}}
        </li>
      {{else}}
        <i class="fa fa-fw fa-exclamation-triangle"></i> This user does not have permissions.
      {{/each}}
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Activity</h3>
    <p class="text-center text-muted">
      Some sort of activity feed
    </p>
  </div>
</div>
