<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Co-insurance <span class="label label-success">{{content.coInsurance}}</span></h3>
    {{general-chart dataset=coinsuranceDataset chartOptions=coinsuranceChart.chartOptions dataOptions=coinsuranceChart.dataOptions height='300'}}
  </div>
  <div class="col-md-6">
    <h3>Rates</h3>
    {{general-chart dataset=rateDataset chartOptions=rateChart.chartOptions dataOptions=rateChart.dataOptions height='300'}}
  </div>
</div>
<hr />
<div>
  <h3>
    <a href="#" {{action "toggleProperty" "showLegacyData"}}>
      <i class="fa fa-fw fa-archive"></i> Legacy Data<i class="fa fa-fw fa-angle-{{if showLegacyData 'up' 'down'}}"></i>
    </a>
  </h3>
  <ul class="reset-list no-list-style hide-slide {{if showLegacyData 'show'}}">
    <li><strong>Old Employee Rate</strong>: {{content.legacyOldEmployeeRate}}</li>
    <li><strong>Old Employee and Spouse Rate</strong>: {{content.legacyOldEmployeeAndSpouseRate}}</li>
    <li><strong>Old Employee and Children Rate</strong>: {{content.legacyOldEmployeeAndChildrenRate}}</li>
    <li><strong>Old Employee and Family Rate</strong>: {{content.legacyOldFamilyRate}}</li>
    <li><strong>Rate Change Employee</strong>: {{content.legacyRateChangeEmployeeRate}}</li>
    <li><strong>Rate Change w/ Spouse</strong>: {{content.legacyRateChangeEmployeeAndSpouseRate}}</li>
    <li><strong>Rate Change w/ Children</strong>: {{content.legacyRateChangeEmployeeAndChildrenRate}}</li>
    <li><strong>Rate Change w/ Family</strong>: {{content.legacyRateChangeFamilyRate}}</li>
  </ul>
</div>
