<div class="row">
  <div class="col-md-9">
    {{#if selectedLocation}}
      {{google-map height="450" location=selectedLocation}}
      <p class="text-center text-muted">
        <small>
          Displaying {{#if selectedOfficeLocation}}Office{{else}}Contact{{/if}} Location @ {{selectedLocation}}
          {{#if selectedOfficeLocation}}
            <a href="#" {{action "selectOffice"}}>(Back to Contact)</a>
          {{/if}}
        </small>
      </p>
    {{else}}
      <h2 class="text-center">
        <i class="fa fa-fw fa-exclamation-triangle"></i> No address to show.
      </h2>
    {{/if}}
  </div>
  <div class="col-md-3">
    <h2>Stats</h2>
    <h4>Employees:</h4>
    <p>
      <div>Historical: <span class="pull-right">{{silent-count content "employees"}}</span></div>

      {{#if loadedEmployeeHardStats}}
        <div>Active: <span class="pull-right">{{activeEmployees}}</span></div>
        <div>Terminated: <span class="pull-right">{{terminatedEmployees}}</span></div>
        <div>Active &amp; Participating: <span class="pull-right">{{activeParticipatingEmployees}}</span></div>
        <div>Active &amp; Waived: <span class="pull-right">{{activeWaivedEmployees}}</span></div>
      {{else}}
        <a href="#" {{action "loadEmployeeHardStats"}}>Load Employee Hard Stats <i class="fa fa-fw {{if loadingEmployeeHardStats 'fa-spin'}} {{if loadingEmployeeHardStats 'fa-spinner' 'fa-cloud-download'}}"></i></a>
      {{/if}}
    </p>

    <hr />

    <h2>Locations</h2>
    <ul>
      {{#each location in content.locations}}
        <li>
          <a href="#" {{action "selectOffice" location}}>{{location.addressFormatted}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
