<div class="row">
  <div class="{{if hasSelectedMetric 'col-md-3' 'col-md-12'}}">
    <ul class="nav nav-pills nav-stacked">
      {{#each metric in metricTypes}}
        <li role="presentation" class="{{if metric.active 'active'}}">
          <a href="#" {{action "showMetric" metric.name}}>{{metric.name}}</a>
        </li>
      {{else}}
        No Metrics Available...
      {{/each}}
    </ul>
  </div>
  <div class="{{if hasSelectedMetric 'col-md-9' 'hidden'}}">
    {{#if showingEmployeesOverTime}}
      <div class="chart-group">
        {{chart-employees-over-time employees=content.employees company=content height=400}}
      </div>
    {{/if}}

    {{#if showingPlanParticipation}}
      {{chart-employee-plan-participation employees=content.employees height=400}}
    {{/if}}
  </div>
</div>
