<div class="application-view"
  <div class="application-wrapper">
    <div class="nav-wrapper">
      {{x-navigation session=session logout=(action "logout")}}
    </div>

    <div class="view-wrapper {{viewClass}}" style={{style}}>
      {{outlet}}
    </div>
  </div>

  {{x-footer}}
</div>
