<div class="row">
  <div {{bind-attr class="selectedCoverages:col-md-4:hidden"}}>
    <h3>
      {{title-case selectedCoverageType}}
      <span class="pull-right">
        <a href="#" {{action "deselectCoverage"}}><i class="fa fa-fw fa-times"></i></a>
      </span>
    </h3>
    <hr />
    {{#each plan in selectedCoverages}}
      <li>
        <span class="label label-success">{{plan.planNumber}}</span>
        {{#if linkToCoverage}}
          {{#link-to linkToCoverage plan.id}}
            {{#if plan.legacyNetwork}}{{plan.legacyNetwork}}{{else}}{{plan.name}}{{/if}}
          {{/link-to}}
        {{/if}}
      </li>
    {{/each}}
  </div>

  <div {{bind-attr class="selectedCoverages:col-md-8:col-md-12"}}>
    <table class="table table-striped text-center legend-text-right">
      <thead>
      <tr>
        <th></th>
        {{#each levels in coverage}}
          <th>{{title-case levels.type}}</th>
        {{/each}}
      </tr>
      </thead>
      <tbody>
      {{! Employee}}
      <tr>
        <th>Employee</th>
        {{#each levels in coverage}}
          <td>
            {{#if levels.tableLevel.employee}}
              <a href="#" {{action "selectCoverage" levels.type}}>
                <i class="fa fa-check text-success"></i>
              </a>
            {{else}}
              <i class="fa fa-times text-danger"></i>
            {{/if}}
          </td>
        {{/each}}
      </tr>
      {{! Spouse}}
      <tr {{bind-attr class="content.isMarried::disabled-strike"}}>
        <th>Spouse</th>
        {{#each levels in coverage}}
          <td>
            {{#if levels.tableLevel.spouse}}
              <a href="#" {{action "selectCoverage" levels.type}}>
                <i class="fa fa-check text-success"></i>
              </a>
            {{else}}
              <i class="fa fa-times text-danger"></i>
            {{/if}}
          </td>
        {{/each}}
      </tr>
      {{! Children}}
      <tr>
        <th>Children</th>
        {{#each levels in coverage}}
          <td>
            {{#if levels.tableLevel.children}}
              <a href="#" {{action "selectCoverage" levels.type}}>
                <i class="fa fa-check text-success"></i>
              </a>
            {{else}}
              <i class="fa fa-times text-danger"></i>
            {{/if}}
          </td>
        {{/each}}
      </tr>
      </tbody>
    </table>
  </div>
</div>
