<div class="row">
  <div class="{{if selectedFile 'col-md-6' 'col-md-12'}}">
    <div class="scrolling-list">
      <div class="list-heading">
        <h4>
          <span class="label label-success">{{numberOfFiles}}</span> Files
          <small class="text-muted"><i class="fa fa-info-circle"></i> Click a file name for more information</small>
        </h4>
        <div class="list-controls">
          <a href="#" {{action "toggleProperty" "sortAscending"}}>Time Created ( {{#if sortAscending}}Newest{{else}}Oldest{{/if}} <i class="fa {{if sortAscending 'fa-caret-down' 'fa-caret-up'}}"></i> )</a>
        </div>
      </div>
      <div class="list-container">
        <ul class="list-group">
          {{#each file in arrangedContent itemController='file'}}
            {{log file}}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <a href="#" {{action "selectFile" file}}>
                    {{~#if file.name}}
                      {{file.name}}
                    {{else}}
                      Unnamed File
                    {{~/if}}.{{file.extension}}
                  </a>

                  {{#each file.labels}}
                    <span class="label label-default">{{title-case this}}</span>
                  {{/each}}
                </div>
                <div class="col-md-6 text-right">
                  <small>{{time-ago file.time_stamp}} at {{format-moment file.time_stamp "hh:mm:ssa"}}</small>
                  <a href="{{file.link}}" target="_blank"><i class="fa fa-fw fa-external-link"></i></a>
                </div>
              </div>
            </li>
          {{else}}
            <h4>No Files</h4>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="{{if selectedFile 'col-md-6' 'hidden'}}">
    {{#if selectedFile}}
      <h3>
        {{~#if selectedFile.name}}
          {{selectedFile.name}}
        {{else}}
          Unnamed File
        {{~/if}}.{{selectedFile.extension}}

        <a href="{{selectedFile.link}}" target="_blank"><i class="fa fa-fw fa-external-link"></i></a>

        <a href="#" class="pull-right" {{action "deselectFile"}}><i class="fa fa-fw fa-times"></i></a>

        <br />
        <small>
          {{#each selectedFile.labels}}
            <span class="label label-default">{{title-case this}}</span>
          {{/each}}
        </small>
      </h3>
      <hr />

      <div class="row">
        <div class="col-md-6">
          <ul class="resource-info-list">
            <li><h4>Extension</h4>{{selectedFile.extension}}</li>
            <li><h4>Creator</h4>{{#if selectedFile.creator}}{{selectedFile.creator}}{{else}}Unknown{{/if}}</li>
            <li><h4>Created</h4>{{time-ago selectedFile.time_stamp}} on {{format-moment selectedFile.time_stamp}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            {{#each note in content.notes itemController='note-item'}}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs-8">
                    {{#if note.longerThanLimit}}
                      {{#if note.showMore}}
                        {{note.text}}
                      {{else}}
                        {{shorten-text note.text note.limit}}
                      {{/if}}
                    {{else}}
                      {{note.text}}
                    {{/if}}

                    {{#if note.longerThanLimit}}
                      <a href="#" {{action "toggleProperty" "showMore"}}>
                        {{#if note.showMore}}Less{{else}}More{{/if}}
                      </a>
                    {{/if}}
                  </div>

                  <div class="col-xs-4 text-right">
                    <small class="text-muted">
                      {{#if note.time_stamp}}
                        {{time-ago note.time_stamp}}
                      {{else}}
                        From legacy
                      {{/if}}
                    </small>
                    <a href="#" title="Edit Note" {{action "editNote" note}}><i class="fa fa-fw fa-pencil"></i></a>
                    <a href="#" title="Delete Note" class="text-danger" {{action "removeNote" note}}><i class="fa fa-fw fa-trash-o"></i></a>
                  </div>
              </li>
            {{else}}
              <div class="alert alert-info alert-dismissible alert-pad" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <i class="fa fa-fw fa-info-circle"></i> No Notes Found.
              </div>
            {{/each}}
            <button class="btn btn-success btn-block" {{action "newNote"}}><i class="fa fa-fw fa-plus"></i> New Note</button>
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
</div>
