<div class="row popout-panel">
  <div class="col-md-10">
    <hgroup>
      <h2><i class="fa fa-medkit"></i> {{content.name}}</h2>
      <h4>{{content.legacyDescription}}</h4>
    </hgroup>
    <div>
      {{#with content}}
        <ul class="text-muted resource-info-list resource-quick-info">
          <li><strong>Key:</strong> {{legacyKey}}</li>
          <li><strong>Record ID (new):</strong> {{id}}</li>
          <li><strong>Legacy Grouping:</strong> {{legacyGrouping}}</li>
          <li><strong>Legacy Order:</strong> {{legacyOrder}}</li>
          <li><strong>Creation Date:</strong> {{format-moment time_stamp}} <i>({{time-ago time_stamp}})</i></li>
        </ul>
        <ul class="text-muted resource-info-list resource-quick-info">
          <li><strong>EBMS IBE Code:</strong> {{ebmsIbeCode}}</li>
          <li><strong>EBMS IBE Code (2):</strong> {{#if ebmsIbeCode2}}{{ebmsIbeCode2}}{{else}}N/A{{/if}}</li>
          <li><strong>EBMS CLM Code:</strong> {{ebmsClmCode}}</li>
        </ul>
      {{/with}}
    </div>
  </div>
  <div class="col-md-2 resource-controls">
    <button class="btn btn-success">
      <i class="fa fa-fw fa-pencil"></i>
    </button>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-gear"></i> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
