<div class="row popout-panel">
  <div class="col-md-10">
    <hgroup>
      <h2><i class="fa fa-medkit"></i> {{content.planNumber}} (<a href="#">{{content.plan.name}}</a>) <small>{{format-currency content.deductible}} Deductible</small></h2>
      {{#if content.company}}
        <h4>Rate for {{#link-to 'company' content.company}}{{content.company.name}}{{/link-to}}</h4>
      {{/if}}
    </hgroup>
    <div>
      {{#with content}}
        <ul class="text-muted resource-info-list resource-quick-info">
          <li><strong>Plan Number:</strong> {{planNumber}}</li>
          <li><strong>Record ID (new):</strong> {{id}}</li>
          <li><strong>EBMS #:</strong> {{ebmsNumber}}</li>
          <li><strong>Legacy Name:</strong> {{name}}</li>
          <li><strong>Creation Date:</strong> {{format-moment time_stamp}} <i>({{time-ago time_stamp}})</i></li>
        </ul>
      {{/with}}
    </div>
  </div>
  <div class="col-md-2 resource-controls">
    <button class="btn btn-success">
      <i class="fa fa-fw fa-pencil"></i>
    </button>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-gear"></i> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="#">Delete</a></li>
        <li><a href="#">Some other action</a></li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
