<ul class="list-group">
  {{#each note in content itemController='note-item'}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2">
          {{#if note.ebms}}
            <span class="label label-success">EBMS</span>
          {{/if}}
          {{#if note.concat}}
            <span class="label label-default">Merge</span>
          {{/if}}          
        </div>

        <div class="col-xs-6">
          {{#if note.longerThanLimit}}
            {{#if note.showMore}}
              {{note.text}}
            {{else}}
              {{shorten-text note.text note.limit}}
            {{/if}}
          {{else}}
            {{note.text}}
          {{/if}}

          {{#if note.longerThanLimit}}
            <a href="#" {{action "toggleProperty" "showMore"}}>
              {{#if note.showMore}}Less{{else}}More{{/if}}
            </a>
          {{/if}}
        </div>

        <div class="col-xs-4 text-right">
          <small class="text-muted">
            {{#if note.time_stamp}}
              {{time-ago note.time_stamp}}
            {{else}}
              From legacy
            {{/if}}
          </small>
          <a href="#" title="Edit Note" {{action "editNote" note}}><i class="fa fa-fw fa-pencil"></i></a>
          <a href="#" title="Delete Note" class="text-danger" {{action "removeNote" note}}><i class="fa fa-fw fa-trash-o"></i></a>
        </div>
    </li>
  {{else}}
    <div class="alert alert-info alert-dismissible alert-pad" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      <i class="fa fa-fw fa-info-circle"></i> No Notes Found.
    </div>
  {{/each}}
  <li>
    <button class="btn btn-success btn-block" {{action "newNote"}}><i class="fa fa-fw fa-plus"></i> New Note</button>
  </li>
</ul>

{{#bs-modal id="add-edit-note" dismissible=false title=modalTitle}}
  <form {{action "saveNote" on="submit"}}>
    <div class="modal-body">
      <div class="form-group">      
        <label>Note text</label>
        {{textarea class="form-control" value=focusNote.text rows="9"}}
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-6">
          {{bound-toggle label="Upload to EBMS" theme="squish" value=focusNote.ebms}}
        </div>
        <div class="col-xs-6">
          {{#if focusNote.ebms}}
            <p class="text-center text-muted">Enabling EBMS upload automatically pushes/concatenates this note for legacy use</p>
          {{else}}
            {{bound-toggle label="Concatenate for legacy" theme="squish" value=focusNote.concat}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block" {{bind-attr disabled=loading}}>Save Note{{#if loading}} <i class="fa fa-spin fa-spinner"></i>{{/if}}</button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm btn-block" data-dismiss="modal" {{action "cancelChanges"}}>Cancel</button>
      </div>
    </div>
  </form>
{{/bs-modal}}
