<div class="resource-view">
  <div class="row">
    <div class="col-md-6">
      <h1><i class="fa fa-fw fa-minus-circle"></i> Permissions</h1>
    </div>
    <div class="col-md-6 resource-controls with-heading">
      <button class="btn btn-success {{if showForm 'active'}}" disabled={{showForm}} {{action "openForm"}}>
        <i class="fa fa-fw fa-plus"></i> Add...
      </button>
    </div>
  </div>
  <hr />
  <div class="row resource-row">
    <div class="{{if showForm 'col-md-4' 'hidden'}}">
      <form class="popout-panel" {{action "savePermission" on="submit"}}>
        <span class="close">
          <a href="#" {{action "closeForm"}}><i class="fa fa-fw fa-times"></i></a>
        </span>
        <h3 class="text-center">Add/edit permission group</h3>
        <hr />

        <div class="form-group">
          {{input type="text" class="form-control" value=permission.name placeholder="Permission Namespace"}}
        </div>
        <div class="form-group">
          {{view "select" class="form-control" content=httpTypes value=permission.type prompt="--Select a Permission Type--"}}
        </div>

        <label>Endpoints</label>
        <div class="form-group">
          {{input type="text" class="form-control" value=endpoint placeholder="ex. /employees"}}
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-warning btn-block" {{action "addEndpoint"}}>Add</button>
        </div>
        <ul>
          {{#each endpoint in permission.endpoints}}
            <li><a href="#" {{action "removeEndpoint" endpoint}}><i class="fa fa-fw fa-times-circle"></i></a> {{endpoint}}</li>
          {{/each}}
        </ul>

        <label>Permission Options</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{view "select" class="form-control" content=httpVerbs value=permissionOption.type prompt="--Verb--"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{input type="text" class="form-control" value=permissionOption.name placeholder="Name (ex. Read)"}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-warning btn-block" {{action "addPermissionOption"}}>Add</button>
        </div>
        <ul>
          {{#each permissionOption in permission.permissions}}
            <li><a href="#" {{action "removePermissionOption" permissionOption}}><i class="fa fa-fw fa-times-circle"></i></a> {{title-case permissionOption.type}} - {{title-case permissionOption.name}}</li>
          {{/each}}
        </ul>
        <hr />
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block" disabled={{isSaving}}>Save Permission {{#if isSaving}}<i class="fa fa-spin fa-spinner"></i>{{/if}}</button>
        </div>
      </form>
    </div>
    <div class="{{if showForm 'col-md-8' 'col-md-12'}}">
      <div class="list-group">
        {{#each permission in content}}
          <div class="list-group-item">
            <span class="label label-info">{{title-case permission.type}}</span> {{permission.name}}
            <span class="pull-right">
              <a href="#" {{action "openForm" permission}}><i class="fa fa-fw fa-pencil-square-o"></i></a>
              <a href="#" {{action "deletePermission" permission}}><i class="fa fa-fw fa-trash-o"></i></a>
            </span>
          </div>
        {{else}}
          <h3 class="text-center text-danger"><i class="fa fa-fw fa-exclamation-triangle"></i> No permissions found! (This is a bad thing in our production environment)</h3>
        {{/each}}
      </div>
    </div>
  </div>
</div>
