{{#if isEditing}}
  {{q.type}} 
  <div class="form-group">
    {{view "select" class="form-control" content=targetObject.fields value=fieldSelection}}
  </div>
  <div class="form-group">
    {{q.compareType}}
  </div>
  <div class="form-group">
    {{q.value}}
  </div>
{{else}}
  {{q.type}} {{q.field}} {{q.compareType}} {{q.value}}
{{/if}}
