<div class="row popout-panel">
  <div class="col-md-8">
    <hgroup>
      <h2>
        {{title-case content.fullName}}
        <small>
          <a href="mailto:{{unbound content.email}}">{{content.email}}</a>
        </small>
      </h2>

    <div>
      <ul class="text-muted resource-info-list resource-quick-info">
        <li><strong>ID:</strong> {{content.id}}</li>
        <li><strong>Creation Date:</strong> {{format-moment content.time_stamp}} <i>({{time-ago content.time_stamp}})</i></li>
      </ul>
    </div>

    </hgroup>
  </div>
  <div class="col-md-4 resource-controls">
    {{#link-to 'user.edit' class="btn btn-success"}}
      <i class="fa fa-fw fa-pencil"></i>
    {{/link-to}}

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-gear"></i> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href="#" {{action "deleteUser"}}><i class="fa fa-fw fa-trash-o"></i> Delete</a></li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
